
<script>
import 'ol/ol.css';
import WKT from 'ol/format/WKT';
import Map from "ol/Map";
import View from 'ol/View';
import {Select} from 'ol/interaction';
import {OSM, Vector as VectorSource} from 'ol/source';
import {Tile as TileLayer, Vector as VectorLayer} from 'ol/layer';
import { Stroke, Fill, Style } from "ol/style";
import { mapState } from 'vuex';

import bus from '@/Bus';
export default {
    data() {
        return {
            map: null,
            select: null
        };
    },
    created() {
        bus.$on('viewLayerMap', this.viewLayer);

        this.map = new Map({
            layers: [
                new TileLayer({
                    source: new OSM(
                        {
                            attributions: false
                        }
                    )
                })
            ],
            view: new View({
                center: [0, 0],
                zoom: 3
            })
        });
        this.addInteraction()
    },
    mounted() {
        this.map.setTarget(this.$el);
    },
    computed: mapState(['data']),
    watch: {
        data(newData,oldData) {
            this.addLayers(newData)
        }

    },
    methods: {
        addInteraction() {
            this.select =  new Select({
                style: new Style({
                    stroke: new Stroke({
                        color: '#ef6c00',
                        width: 3,
                    }),
                    fill: new Fill({
                        color: 'rgb(239,108,0,0.2)',
                    })
                })
            });
            this.map.addInteraction(this.select);
            this.select.on('select', function(e) {
                const selection= e.target.getFeatures();
                if(selection.getLength()) {
                    selection.forEach(feature => {
                        bus.$emit('layerSelect', feature.getId());
                    })
                }
            });
        },

        deleteLayers() {
            for (let i = this.map.getLayers().getLength() - 1; i >= 0; i--) {
                const layer = this.map.getLayers().getArray()[i];
                if ( layer instanceof VectorLayer) {
                    this.map.removeLayer(layer);
                }
            }
        },

        addLayers(data) {
            this.deleteLayers()
            if(data.products.length > 0)
            {
                data.products.forEach(layer => {
                    const format = new WKT();
                    const feature = format.readFeature(layer.footprint, {
                    dataProjection: 'EPSG:4326',
                    featureProjection: 'EPSG:3857'
                    });
                    feature.setId(layer.uuid)
                    const vector = new VectorLayer({
                    source: new VectorSource({
                        features: [feature]
                    })
                    })
                    this.map.addLayer(vector)
                });
            }
        },
        viewLayer(id) {
            this.map.getLayers().forEach(layer => {
                if ( layer instanceof VectorLayer) {
                    const features = layer.getSource().getFeatures()
                    features.forEach(feature => {
                        if(feature.getId() === id){
                            this.select.getFeatures().clear()
                            this.select.getFeatures().push(feature);
                            const layerExtent = layer.getSource().getExtent();
                            this.map.getView().fit(layerExtent, {
                                duration: 1000,
                                padding: [100, 100, 100, 100]
                            });
                        }
                    })
                }
            })
        },
    }
};
</script>

<template>
    <div class="clearfix map" id="map"></div>
</template>

<style scoped>
    .map {
        width: 100%;
        height: 100%;
        height: 78vh;
    }
</style>