
<script>
import bus from '@/Bus';
export default {
    props: ["langs"],
    data() {
        return {
            showModal: false,
            product: null
        };
    },
    created() {
        bus.$on('viewDetailItem', this.viewModal);
    },
    methods: {
        viewModal: function(uuid) {
            this.product =  this.$store.getters.getProductByUuid(uuid)
            this.showModal=true
        },
        imageUrlAlt: function() {
            event.target.src = "/vendor/geonodo/copernicus/placeholder.png"
        },
        getValue(val) {
            if( typeof val === 'object')
            {
                if(val.hasOwnProperty('date'))
                    return val['date']
            }
            return val
        }
    },
    computed: {
        satelliteNumber: function() {
            return this.product.title.substr(2,1)
        },
        satelliteDescriptionUrl: function() {
            return 'https://sentinel.esa.int/web/sentinel/missions/'+this.product.platformname.toLowerCase()
        }
    }
};
</script>

<template>
    <transition name="modal" v-if="showModal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                            {{ product.title }}
                        </slot>
                    </div>
                    <div class="modal-body">
                        <slot name="body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel-group"
                                        id="accordion1"
                                        role="tablist"
                                        aria-multiselectable="true">
                                        <div class="panel">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-quicklook" aria-expanded="true" aria-controls="collapse">Vista Rápida</a>
                                                </h4>
                                            </div>
                                            <div id="collapse-quicklook" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                                                <div class="table-responsive">
                                                    <img class='quicklook' :src="`copernicus/quicklook\\${product.uuid}`" alt="" @error="imageUrlAlt"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-summary" aria-expanded="true" aria-controls="collapse">
                                                    Resumen
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse-summary" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                                                <div class="table-responsive">
                                                    <table class="table show-table" style="margin-bottom: 0">
                                                        <tbody>
                                                            <tr v-for="(value, col) in langs.summary" :key="col">
                                                                <td class="show-table-label1">{{value}}</td>
                                                                <td class="show-table-data">
                                                                    {{getValue(product[col])}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel-group"
                                        id="accordion2"
                                        role="tablist"
                                        aria-multiselectable="false">
                                        <div class="panel">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-product" aria-expanded="false" aria-controls="collapse">Producto</a>
                                                </h4>
                                            </div>
                                            <div id="collapse-product" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                                                <div class="table-responsive">
                                                    <table class="table show-table" style="margin-bottom: 0">
                                                        <tbody>
                                                            <tr v-for="(value, col) in langs.product" :key="col">
                                                                <td class="show-table-label1">{{value}}</td>
                                                                <td class="show-table-data">
                                                                    {{getValue(product[col])}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-instrument" aria-expanded="false" aria-controls="collapse">Instrumento</a>
                                                </h4>
                                            </div>
                                            <div id="collapse-instrument" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                                                <div class="table-responsive">
                                                    <table class="table show-table" style="margin-bottom: 0">
                                                        <tbody>
                                                            <tr v-for="(value, col) in langs.instrument" :key="col">
                                                                <td class="show-table-label1">{{value}}</td>
                                                                <td class="show-table-data">
                                                                    {{getValue(product[col])}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-platform" aria-expanded="false" aria-controls="collapse">Plataforma</a>
                                                </h4>
                                            </div>
                                            <div id="collapse-platform" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                                                <!-- Plataforma -->
                                                <div class="table-responsive">
                                                    <table class="table show-table" style="margin-bottom: 0">
                                                        <tbody>
                                                            <tr v-for="(value, col) in langs.platform" :key="col">
                                                                <td class="show-table-label1">{{value}}</td>
                                                                <td class="show-table-data">
                                                                    <template v-if="col === 'platformname'">
                                                                        <a :href="satelliteDescriptionUrl" target="_blank">{{getValue(product[col])}}</a>
                                                                    </template>
                                                                    <template v-else-if="col === 'satelliteNumber'">
                                                                        {{satelliteNumber}}
                                                                    </template>
                                                                    <template v-else>
                                                                        {{ col}}
                                                                        {{getValue(product[col])}}
                                                                    </template>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-processing" aria-expanded="false" aria-controls="collapse">Procesado</a>
                                                </h4>
                                            </div>
                                            <div id="collapse-processing" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                                                <!-- Processiong -->
                                                <div class="table-responsive">
                                                    <table class="table show-table" style="margin-bottom: 0">
                                                        <tbody>
                                                            <tr v-for="(value, col) in langs.processing" :key="col">
                                                                <td class="show-table-label1">{{value}}</td>
                                                                <td class="show-table-data">
                                                                    {{product[col]}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <a :href="`copernicus/download\\${product.uuid}`" class="btn btn-primary" title="Descargar"><i class="glyphicon glyphicon-download-alt"></i></a>
                            <button type="button" class="btn btn-primary" @click="showModal=false" title="Cerrar">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<style scoped>
    .quicklook {
        width: 30vh;
        height: 20vh;
    }
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 70%;
        margin: 0px auto;
        /* padding: 20px 30px; */
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 10px 0;
        height: 65vh;
        overflow: auto;
    }

    .modal-default-button {
        float: right;
    }

    /*
    * The following styles are auto-applied to elements with
    * transition="modal" when their visibility is toggled
    * by Vue.js.
    *
    * You can easily play with the modal transition by editing
    * these styles.
    */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>