<script>
import Search from '@/search/Search';
import Map from '@/Map';
import Result from '@/result/Result';
import Summary from '@/result/Summary';
import Show from '@/result/Show';
import Loader from '@/Loader';
import Modal from '@/Modal';
import bus from '@/Bus';

export default {
    props: ["langs"],
    components: {
        Search,
        Show,
        Result,
        Loader,
        Modal,
        Map,
        Summary
    },
    created() {
        bus.$on("submitAdvanced",this.submitAdvanced)
    },
    methods: {
        submitAdvanced(form) {
            this.search.form = form
        }
    },
};
</script>

<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="pull-left col-sm-6">
                        <Search/>
                        <Show/>
                    </div>
                    <h4 class="panel-title panel-title-index col-sm-6">Copernicus</h4>
                </div>
                <div class="panel-body">
                    <Summary :langs="langs.summary"/>
                    <Result/>
                    <Map/>
                    <loader class="loader"/>
                    <modal :langs="langs"/>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0
    }
    .panel-body {
        padding: 0;
    }

    @media (min-width: 1200px) {
        .container {
            width: 1200px;
        }
    }
    .loader {
        position: absolute;
        width: 60%;
        height: 100px;
        left: 50%; /*(100%-60%)/2*/
        top: 50%;
    }
</style>