<script>
import { download } from '@/service';
import bus from '@/Bus';
import { mapState } from 'vuex';
export default {
    props: ['langs'],
    data() {
        return {
            show: false,
            product: null,
            countClose: 0,
            countView: 0,
        };
    },
    created() {
        bus.$on('layerSelect', this.showSummary);
    },
    computed: mapState(['showResult','showSearchAdvanced']),
    watch: {
        showResult(value) {
            if(value)
                this.show= false
        },
        showSearchAdvanced(value) {
            if(value)
                this.show= false
        },

    },
    methods: {
        getValue(val) {
            if( typeof val === 'object')
            {
                if(val.hasOwnProperty('date'))
                    return val['date']
            }
            return val
        },
        showSummary(uuid) {
            this.product =  this.$store.getters.getProductByUuid(uuid)
            if(!this.showResult && !this.showSearchAdvanced && this.product !== null ) {
                if(this.countClose < 2) {
                    this.show= true
                    if(this.countView++ > 2) {
                        this.countClose = 0
                    }
                } else {
                    this.show= false
                    if(this.countView++ >= 5) {
                        this.countClose = 0
                    }
                }
            }
            else
                this.show= false
        },
        viewDetail: function() {
            bus.$emit('viewDetailItem', this.product.uuid)
        },
        close() {
            this.show = false
            this.countClose++
            this.countView = 0
        }
    }
};
</script>

<template>
    <transition name="slide-fade" >
        <div class="col-sm-4 panel-list" v-if="show">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="actions">
                        <button type="button" class="btn btn-xs btn-link" @click="viewDetail">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </button>
                        <a class="btn btn-xs btn-link"  :href="`copernicus/download\\${product.uuid}`"><i class="glyphicon glyphicon-download-alt"></i></a>
                        <button type="button" class="btn btn-xs btn-link" @click="close">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </div>
                    <table class="table show-table" style="margin-bottom: 0">
                        <thead>
                            <tr v-for="(value, col) in langs" :key="col">
                                <td class="show-table-label1">{{value}}</td>
                                <td class="show-table-data">
                                    {{getValue(product[col])}}
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </transition>
</template>

<style scoped>
    .panel-list {
        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.05);
        position: absolute;
        top: 4.8em;
        left: 1.2em;
        z-index: 1;
        padding: 0px;
    }
    .actions{
        display: inline-flex;
        justify-content: flex-end;
        width: 100%;
    }
    .panel {
        margin: 0px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .slide-fade-enter-active {
    transition: all .3s ease;
    }
    .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
    }
</style>