<script>
import bus from '@/Bus';
import {concateList} from '@/Util'
import AdvancedSearch from '@/search/AdvancedSearch';
import { search } from '@/service';
export default {
    name: "Search",
    components: {
        AdvancedSearch
    },
    props: ["advancedSearch"],
    data() {
        return {
            loading: false,
            criterio: '',
            advanced: '',
            start: 0,
            per_page: 10
        };
    },
    created() {
        bus.$on('loading', (e) => this.loading=e);
        bus.$on("setPagination",this.setPagination)
    },
    methods: {
        setPagination(start) {
            this.start = start
            this.submitForm()
        },
        submitSearch: function(e) {
            e.preventDefault();
            this.submitForm()
        },
        submitForm(){
            const query = [];
            if(this.criterio !== '')
                query.push(this.criterio)
            if(this.advanced !== '')
                query.push(this.advanced)
            const stringQuery = concateList(query)
            search(stringQuery !== "" ? stringQuery : undefined, this.start, this.per_page, this.orderBy !==undefined ? this.orderBy : undefined) ;
        },
        viewAdvancedSearch: function() {
            this.$store.dispatch('showSearchAdvanced', true)
        },
        submitSearchAdvanced(e) {
            this.advanced = e.query
            this.orderBy = e.orderby
            this.submitForm()
        }
    }
};
</script>

<template>
    <div>
        <form class="text-left col-md-8" @submit="submitSearch">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" @click="viewAdvancedSearch">
                        <i class="glyphicon glyphicon-filter"></i>
                    </button>
                </span>
                <input type="text" class="form-control" placeholder="Buscar..." v-model="criterio"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" :disabled="!!loading">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <AdvancedSearch v-on:submit-form="submitSearchAdvanced"/>
    </div>
</template>

<style scoped>
    form {
        padding-left: 0px;
    }
</style>