<script>
import VueSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
import {concateList, constructorList} from '@/Util'

export default {
    name: "Sentinel2",
    components: {
        'vue-select': VueSelect
    },
    data() {
        return {
            form: {},
            optionsProductType: ["S2MSI2A","S2MSI1C", "S2MS2Ap"],
            optionsPlatform: ["S2A_*","S2B_*"],
        };
    },
    methods: {
        submitSearch: function(e) {
            e.preventDefault();
        },
    },
    watch: {
        form: {
            handler: function (after, before) {
                const list = constructorList(this.form)
                if(list.length >0) {
                    list.unshift('platformname:Sentinel-2')
                    this.$emit("input", `(${concateList(list)})`);
                } else {
                    this.$emit("input", null);
                }
            },
            deep: true
        }
    }
};
</script>

<template>
    <div id="tab-s2" class="tab-pane fade">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Plataforma:</label>
                    <vue-select :options="optionsPlatform" v-model="form.filename"></vue-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tipo de producto:</label>
                    <vue-select :options="optionsProductType" v-model="form.producttype"></vue-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Numero de orbita relativa [1-175]:</label>
                    <input class="form-control" type="number" v-model="form.relativeorbitnumber" max="175" min="1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Porcentaje de cobercuta de nubes:</label>
                    <input class="form-control" type="number" v-model="form.cloudcoverpercentage" max="100" min="0">
                </div>
            </div>
        </div>
    </div>
</template>