<script>
import VueSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
import {concateList, constructorList} from '@/Util'

export default {
    name: "Sentinel1",
    components: {
        'vue-select': VueSelect
    },
    data() {
        return {
            form: {},
            optionsProductType: ["SLC", "GRD", "OCN"],
            optionsSensor: ["SM", "IW", "EW", "WV"],
            optionsPolarisation: ["HH", "VV", "HV", "VH", "HH HV", "VV VH"],
            optionsPlatform: ["S1A_*","S1B_*"],
        };
    },
    methods: {
        submitSearch: function(e) {
            e.preventDefault();
        },
    },
    watch: {
        form: {
            handler: function (after, before) {
                const list = constructorList(this.form)
                if(list.length >0) {
                    list.unshift('platformname:Sentinel-1')
                    this.$emit("input", `(${concateList(list)})`);
                } else {
                    this.$emit("input", null);
                }
            },
            deep: true
        }
    }
};
</script>

<template>
    <div id="tab-s1" class="tab-pane fade">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Plataforma:</label>
                    <vue-select :options="optionsPlatform" v-model="form.filename"></vue-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tipo de producto:</label>
                    <vue-select :options="optionsProductType" v-model="form.producttype"></vue-select>
                </div>
            </div>
        </div>
         <div class="row">
             <div class="col-md-6">
                <div class="form-group">
                    <label>Modo del sensor:</label>
                    <vue-select :options="optionsSensor" v-model="form.sensoroperationalmode"></vue-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Polarizacion:</label>
                    <vue-select :options="optionsPolarisation" v-model="form.polarisationmode"></vue-select>
                </div>
            </div>
         </div>
        <div class="row">
            <div class=" col-md-12">
                <div class="form-group">
                    <label>Numero de la orbita relativa (desde 1 hasta 175):</label>
                    <input class="form-control" type="number" v-model="form.relativeorbitnumber" max="175" min="1">
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
</style>